*{
    margin: 0;
    padding: 0;
}
body{
    background-color: grey;
    padding: 53px;
}

.card{
    background-color: white;
    width: 244px;
    /* height: 450px; */
    border-radius: 7px;
    padding: 0 0 22px 0;
}

.image{
    padding: 5px;
    
}
.image img{
    width: 234px;
    border-radius: 7px;
}
.content {
    padding: 13px 13px ;
    font-size: 13px;
    font-family: Poppins;
    
}
.content p{
    font-size: 11px;
    color: gray;
}
.capsules{
    padding: 0 5px  0 14px ;
}
.capsules span{
    border: 1px solid rgb(228, 225, 225);
    padding:0 6px 0 6px ;
    border-radius: 15px;
    font-size: 13px;
    font-family: Poppins;
}
.button{
    text-align: center;
}
.button button{
    background-color: rgb(186, 221, 235);
    color: rgb(6, 143, 235);
    font-weight: bold;
    border-radius: 17px;
    padding: 7px 11px ;
    margin-top: 5px;
    border: none;
    cursor: pointer;
}
.button button:hover{
    background-color: rgb(139, 200, 241);
    color: rgb(239, 242, 243);
}